<h1>Cube Rule Database</h1>

{% for category in collections.categories %}
  <h2>{{ category.name | titleize }}</h2>

  <ul>
    {% for item in collections[category.tag] %}
      <li><a href="/{{ item.name | parameterize }}/">{{ item.name | titleize }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
